ul li {
  list-style: none;
}
.img-fluid{
  width: 152px;
  vertical-align: bottom;
}
.mat-toolbar.mat-primary{
  color:#c3c7d9;
}
.mat-toolbar-multiple-rows{
  filter: drop-shadow(0rem 0.5rem 0.5rem #c3c7d9);
}